{% from 'util.html' import import_bower %}
{% from 'util.html' import import_static %}
<!DOCTYPE html>
<html>
  <head>
    <title>
    </title>
    {{ import_bower('css', 'bootstrap', 'css/bootstrap.css') }}
    {{ import_static('css', 'css/style.css') }}
  </head>

  <body>
    <div id="header">
      <div class="container">
        <h1>
        naming
        </h1>
        <p>
         `naming`은 이름으로 심리 테스트를 실행해주는 서비스입니다. 밑에 이름을 적어넣으시고, 심리테스트를 받아보세요!
        </p>
      </div>
    </div>
    <form action="?" method="GET">
      <div class="inputs">
      <input type="text" name="name" placeholder="이름을 써주세요" />
      <button type="submit">
        보내기
      </button>
      </div>
    </form>

    {{ import_bower('js', 'jquery', 'jquery.min.js') }}
    {{ import_bower('js', 'bootstrap', 'js/bootstrap.min.js') }}
    {{ import_static('js', 'bower_components/d3/d3.min.js') }}

    <script type="text/javascript">
      var args = [];

      var width = 500;

      var radius = width / 2;
      {% for e, p in status %}
      args.push({'feel': '{{ e }}', 'prob': {{ '%.2f' % p }}});
      {% endfor %}

      var color = function(d) {
        var c = ["3C855C", "FFEC6C", "#FFC343", "#FFA14A", "#E85649"];
        var idx = 0;
        for(i in args) {
          if(d.data['feel'] == args[i]['feel']) {
            idx = i;
          }
        }
        return c[idx % c.length];
      }

      var pie = d3.layout.pie()
          .sort(null)
          .value(function(d) { return d['prob']; });

      var arc = d3.svg.arc()
          .outerRadius(radius - 10)
          .innerRadius(0);

      var svg = d3.select('body').append('svg')
          .attr('width', width)
          .attr('height', width)
        .append('g')
          .attr('transform', 'translate(' + width / 2 + ',' + width / 2 + ')');


      var g = svg.selectAll(".arc")
          .data(pie(args))
        .enter().append("g")
          .attr("class", "arc");

       g.append("path")
       .attr("d", arc)
       .style("fill", function(d) { return color(d); });

       g.append("text")
       .attr("transform", function(d) { return "translate(" + arc.centroid(d) + ")"; })
       .attr("dy", ".35em")
       .style("text-anchor", "middle")
       .text(function(d) { return d.data['feel']; });
    </script>
  </body>
</html>


