{% macro import_static(type_, p) -%}
  {% if type_ == 'css' -%}
    <link rel="stylesheet" href="{{ url_for('static', filename=p) }}" />
  {% elif type_ == 'js' -%}
    <script type="text/javascript" src="{{ url_for('static', filename=p) }}">
    </script>
  {%- endif %}
{%- endmacro %}

{% macro import_bower(type_, name, p_) -%}
  {% set p = 'bower_components/%s/dist/%s' % (name, p_) -%}
  {% if type_ == 'css' -%}
    <link rel="stylesheet" href="{{ url_for('static', filename=p) }}" />
  {% elif type_ == 'js' -%}
    <script type="text/javascript" src="{{ url_for('static', filename=p) }}">
    </script>
  {%- endif %}
{%- endmacro %}
